# =========================
# FastAPI
# =========================
fastapi
uvicorn[standard]
python-multipart

# =========================
# Database
# =========================
sqlalchemy
psycopg[binary]

# =========================
# Configuration / Validation
# =========================
pydantic
pydantic-settings
email-validator

# =========================
# Authentication
# =========================
PyJWT
pwdlib[argon2]

# =========================
# AWS S3
# =========================
boto3

# =========================
# File validation
# =========================
python-magic


pytest
httpx


# =========================
# RAG
# =========================
langchain-core
langchain-text-splitters
langchain-community
langchain-chroma
chromadb
sentence-transformers
rank-bm25
pypdf
python-docx
langchain
langchain-google-genai